$redColor : red;
$blueColor : #54a52a;
$blue : blue;

.is-active{
    font-weight: bold;
    color:#ca124a;
}

.exam { 
    color:$blueColor;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.error-msg{
    color : $blue
}